.sidebar-about img.profile-picture {
    border-radius: 0;
    border: none;
}

.sidebar-nav-item {
    background-color: unset;
    border: 1px solid #ffffff;
}

.theme-base-0d .sidebar {
    background-color: lightslategray;
}

@media (min-width: 48em) {
  div.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: center;
  }
}

.content {
    margin-left: 18em;
    margin-right: 2em;
}

.tag-cloud {
    color: rgba(255, 255, 255, 0.5);
}

.sitename {
    /*-webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.14);*/

/*-webkit-text-stroke: 1px black;
   color: white;*/
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

a.sidebar-nav-item2 {
  padding: .25rem 0.5rem;
  background: #111111;
  margin: 0.2rem 0.2rem;
  border-radius: .25rem;
  /*text-transform: uppercase;*/
  font-size: 1rem;
  font-weight: bold;
  width: 17%;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  background: #333333;
  text-decoration: none;
}

nav.sidebar-nav {
    margin-top: 2em;
}

div.index-tag-box {
    text-align: right;
}

div.article-tag-box {
    text-align: left;
    margin-bottom: 15px;
}

span.tag {
    border: 1px solid cadetblue;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: .25rem;
    color: #777777;
}

a.read-more {
    border: unset;
    color: #268BD2 !important;
}

span.pagination-item {
    border: unset;
}